.collapsible-element {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #282c34;
    cursor: pointer;

}

.collapsible-element:hover {
    background-color: #54545899;
}


.Collapsible__trigger.is-open svg {
    transform: rotate(180deg);
    transition: 0.5s;
}